<section class="py-20">
	<div class="container">
		<div class="row row-cols-2 row-cols-md-6 g-8">
			<div class="col">
				<div class="">
					<p class="text-primary">text-primary</p>
					<div class="ratio ratio-1x1 bg-primary"></div>
				</div>
			</div>
			<div class="col">
				<div class="">
					<p class="text-secondary">text-secondary</p>
					<div class="ratio ratio-1x1 bg-secondary"></div>
				</div>
			</div>
			<div class="col">
				<div class="">
					<p class="text-success">text-success</p>
					<div class="ratio ratio-1x1 bg-success"></div>
				</div>
			</div>
			<div class="col">
				<div class="">
					<p class="text-warning">text-warning</p>
					<div class="ratio ratio-1x1 bg-warning"></div>
				</div>
			</div>
			<div class="col">
				<div class="">
					<p class="text-danger">text-danger</p>
					<div class="ratio ratio-1x1 bg-danger"></div>
				</div>
			</div>
			<div class="col">
				<div class="">
					<p class="text-light">text-light</p>
					<div class="ratio ratio-1x1 bg-light"></div>
				</div>
			</div>
			<div class="col">
				<div class="">
					<p class="text-dark">text-dark</p>
					<div class="ratio ratio-1x1 bg-dark"></div>
				</div>
			</div>
		</div>
	</div>
</section>
