
// Reveal Animation
[data-aos="fade-up-sm"] {
	opacity: 0;
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
	}

	@media screen and (min-width: 768px) {
		transform: translate3d(0, 20px, 0) rotateY(10deg) !important;

		&.aos-animate {
			transform: translate3d(0, 0, 0) rotateY(0deg) !important;
		}
	}
}

[data-aos="fade-down-sm"] {
	opacity: 0;
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
	}

	@media screen and (min-width: 768px) {
		transform: translate3d(0, -20px, 0) !important;

		&.aos-animate {
			transform: translate3d(0, 0, 0) !important;
		}
	}
}

[data-aos="fade-left-sm"] {
	opacity: 0;
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
	}

	@media screen and (min-width: 768px) {
		transform: translate3d(20px, 0, 0) !important;

		&.aos-animate {
			transform: translate3d(0, 0, 0) !important;
		}
	}
}

[data-aos="fade-right-sm"] {
	opacity: 0;
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
	}

	@media screen and (min-width: 768px) {
		transform: translate3d(-20px, 0, 0) !important;

		&.aos-animate {
			transform: translate3d(0, 0, 0) !important;
		}
	}
}
