.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	&.has-icon {
        position: relative;
        padding: 1rem 4rem 1rem 2.5rem;

		.icon {
			width: 40px;
			height: 40px;
			border-radius: 1000px;
			background: $white;
            color: $dark;
			display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
		}
	}
}
